<div class="main">
  <form [formGroup]="signupForm" (ngSubmit)="signUp()" autocomplete="on">
    <label>INSCRIPTION</label>

    <div class="all-input">
      <div class="inputText">
        <!---Pseudo---->
        <div class="box">
          <div class="fl iconBox"><mat-icon>person_pin</mat-icon></div>
          <div class="fr">
            <input formControlName="username" matInput type="text" required placeholder="Pseudonyme" class="textBox">
          </div>
        </div>

        <!---Email ID---->
        <div class="box">
          <div class="fl iconBox"><mat-icon>email</mat-icon></div>
          <div class="fr">
            <input formControlName="email" matInput type="email" required name="email" placeholder="Email" class="textBox">
          </div>
        </div>

        <!---Password------>
        <div class="box">
          <div class="fl iconBox"><mat-icon> vpn_key</mat-icon></div>
          <div class="fr">
            <input type="Password" formControlName="password" matInput required name="password" placeholder="Password" class="textBox">
          </div>
        </div>
        <div class="box">
          <div class="fl iconBox"><mat-icon>phone</mat-icon></div>
          <div class="fr">
            <input type="text" formControlName="phone" matInput required  placeholder="Téléphone" class="textBox">
          </div>
        </div>
      </div>

      <div class="inputText">

        <div class="box">
          <div class="fl iconBox"><mat-icon>person</mat-icon></div>
          <div class="fr">
            <input formControlName="firstName" matInput type="text" required placeholder="Prénom" class="textBox">
          </div>
        </div>

        <div class="box">
          <div class="fl iconBox"><mat-icon>person</mat-icon></div>
          <div class="fr">
            <input formControlName="lastName" matInput type="text" required placeholder="Nom de famille" class="textBox">
          </div>
        </div>

        <div class="box">
          <div class="fl iconBox"><mat-icon>place</mat-icon></div>
          <div class="fr">
            <input type="text" formControlName="campus" matInput required placeholder="Campus" class="textBox">
          </div>
        </div>
        <div class="box">
          <div class="fl iconBox"><mat-icon>cake</mat-icon></div>
          <div class="fr">
            <input type="date" formControlName="dateNais" matInput required placeholder="Date de naissance" class="textBox">
          </div>
        </div>
      </div>
    </div>

    <!--Terms and Conditions------>
    <div class="box terms">
      <input type="checkbox" name="Terms" required> &nbsp; I accept the terms and conditions
    </div>
    <!--Terms and Conditions------>
    <!---Submit Button------>
    <div class="submitBtn">
      <input type="Submit" class="submit" value="SUBMIT">
    </div>
    <!---Submit Button----->
  </form>
</div>

