.nav {
  position: static;
  top: 0;
  background-color: #110f16;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 75px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  justify-content: space-between;

  img{
    margin : auto 0 auto 0;
    height: 50%;
    object-fit: contain
  }

  nav-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .logo{
    width: 58px;
  }
}

