<nav class="nav">
  <div id="nav-logo" [routerLink]="''">
    <img [src]="logoUrl" alt="YDeal logo"/>
  </div>
    <div class="nav-button">
      <button mat-button [routerLink]="'site-vitrine'">SITE VITRINE</button>
      <button *ngIf="authServices.userLoggedIn == false" mat-button [routerLink]="'login'">
        CONNEXION
      </button>
      <button *ngIf="authServices.userLoggedIn == false" mat-button [routerLink]="'register'">
        INSCRIPTION
      </button>
      <button *ngIf="authServices.userLoggedIn == true" mat-button [routerLink]="'profil'">PROFIL</button>
      <button *ngIf="authServices.userLoggedIn == true" mat-button (click)="logout()">DECONNEXION</button>
    </div>
</nav>


