<div class="container-profil">
<form action="post">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="format">
    <h1>Information personelle :</h1>
    <div class="img-profil">Photo profil</div>
    <div class="row">
        <div class="col-md-6">
            <label>Nom d'utilisateur :</label>
            <br>
            <input type="text" value="Norbert du 69">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Nom :</label>
            <br>
            <input type="text" value="Dupont">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Prénom :</label>
            <br>
            <input type="text" value="Norbert">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email :</label>
            <br>
            <input type="email" value="Norbert.dupont@gmail.com">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Numéro téléphone :</label>
            <br>
            <input type="tel" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Mot de passe  :</label>
            <br>
            <input type="password" value="hbjb,jgbjk">
            <button>Modifier</button>
        </div>
    </div>
    </div>
    <br>
    <br>
    <h1>Payement</h1>
    <div class="row">
        <div class="col-md-6">
            <label>Mode de payement  :</label>
            <br>
            <input type="text" value="MasterCard - 0202 **** **** 7896">
        </div>
    </div>
    
</div>
</form>
</div>
