<div class="container-profile">
    <div class="profile-title">
        <div class="title">INFORMATIONS PERSONNELLES</div>
        </div>
    <div class="container-body">
        <div class="left">
            <div class="info">
                SURNAME :
            </div>
            <div class="info">
                FIRSTNAME :
            </div>
            <div class="info">
                LASTNAME :
            </div>
            <div class="info">
                NAME :
            </div>
            <div class="info">
                BIRTHDATE :

            </div>
            <div class="info">
                CAMPUS :
         
            </div>
        </div>
   <div class="right">
    <div class="profile-info">
        insert surname here
    </div>
    <div class="profile-info">
        insert firstname here
    </div>
    <div class="profile-info">
        insert lastname here
    </div>
    <div class="profile-info">
        insert name here
    </div>
    <div class="profile-info">
        insert birthdate here
    </div>  
    <div class="profile-info">
        insert campus here
    </div>
   </div>
</div>
</div>