<div class="main">
  <form class="formulaire" [formGroup]="product"  autocomplete="on">
      <h1>DEPOSER UNE ANNONCE</h1>

    <div class="inputText">
      <div class="fr">
        <input formControlName="title" matInput placeholder="Titre" class="textBox">
      </div>
      <div>
        <input class="desc" formControlName="price" matInput placeholder="Description" class="textBox">
      </div>

      <div class="fr">
        <input formControlName="price" matInput placeholder="Category" class="textBox">
      </div>
    </div>

    <div class="submitBtn">
      <input type="Submit" class="submit" value="SUBMIT">
    </div>
  </form>
</div>
